@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;    
}
body::-webkit-scrollbar{
    display: none;
}
/*------gengral*/
body{
    overflow: hidden;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    behavior: smooth;
    background:url(https://wallpapercave.com/wp/TAsUGNm.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: right;
}
/*------all links */
a{
    color: black;
}
/*-------Header-------*/
header{
    display: flex;
    flex-direction: column;
    width: 100%;
}
/*----when the element active*/
.active{
    color: red;
}
/*navbar style*/
.nav-bar{
    margin-top: 10px;
    z-index: 888;
    box-shadow:0 1px 20px 3px wheat;
    width: 80%;
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 10px;
    align-self: center;
    align-items: center;
    padding: 6px;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px;
    .opthions{
        display: none;
    }
    #nav-pages{
        width: 60%;
        display: flex;
        justify-content: space-between;
        li a:hover{
          cursor: pointer;
          color: red;
        }
    }
    img{
        width: 45px;
    }
}

/*----------responive-navbar-----*/
@media (max-width:767px){
    #nav-pages li a{
        color:rgb(170, 170, 170);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7), 
        0 0 25px rgba(255, 255, 255, 0.6),
        0 0 5px silver;
    }
    .nav-bar{       
     .opthions{
            cursor: pointer;
        }
        #menu:checked ~ ul{
            display: block;
        }
        padding: 4px;
        .community-view,.opthions{
            display: block;
        }
        img{
            width: 35px;
        }
        #nav-pages{
        display: none;
         position: absolute;
         top: 60px;
         border-radius: 10px;
         padding: 10px;
         right: 10%;
         z-index: 888;
         background-color:rgba(0,0,0,0.7);
         color: #ffffff;
         width: 130px;
         flex-direction: column;
         li{
            text-align: center;
         }
            .community-main{
                display: none;
            }
        }
    }
}
/**************END NAv*******/
/*massege welcom-style*/
.message-welcome{
    margin-top: 50px;
    padding: 10px;
    width: 100%;
    text-align: center;
    .front{
            h2::first-letter{
            font-size: 50px;
            color: red;
        }
        h2{
            text-transform: uppercase;
            font-size: 35px;
            font-weight: 900;

            color: rgb(233, 240, 252);
            animation: h2move 1s 1;
        }
    }
}
/*------------animation element in welcom-*/
@keyframes h2move{
    0%{
        transform: translatex(-320px);
        opacity: 0;
    }
    100%{
        transform: translatex(0);
        opacity: 1;
    }
}
@keyframes anim-img{
        0%{
         opacity: 0;
        }
        100%{
         opacity: 1;
        } 
}
/*-------end massege  welcome*/
/*-------responsive-massege welcom*/
@media (max-width:767px){
    .front img{
        width: 150px;
    }
    header{
      height: 200px;
      background-position: top;

    }
    .message-welcome{
        .front{
            h2::first-letter{
            font-size: 45px;
        }
        h2{
            font-size: 24px;
        }
    }
}}
/*end header*/
/*comments**/
.comment-container{
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.container-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img{
        width: 300px;

    }
    p{
        color: rgb(247, 255, 131);
        width: 300px;
        font-weight: bold;
        backdrop-filter: blur(4px);
        border-radius: 6px;
    }
}
/*---btn join*/
#btn-join{
    padding: 6px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    margin-block: 20px;
    border: none;
    outline: none;
    transition: .4s;
}
#btn-join:hover{
    color: rgb(163, 15, 15);
}
/*--form-user-parent*/
.form-user-parent{
    display: none;
    margin-bottom: 20px;
    border-radius: 20px;
    border: #00384d 1px solid;
    color: white;
    box-shadow:inset 0 1px 20px 3px rgb(115 126 143);
    padding: 10px;
    width: fit-content;
}
.form-user-parent form{
    display: grid;
    grid-template-columns: repeat(2,minmax(120px,auto));
    gap: 10px;
}
.form-user-parent form input[type="text"],.form-user-parent form input[type="tel"]{
    padding: 15px;
    background-color: rgba(217, 216, 230, 0.986);
    outline: none;
    border-radius: 10px;
    color: black;
    font-weight: bold;
}
#btn-submit{
    grid-column: 1/-1;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: .8s;
}
#btn-submit:hover{background-color: #00384d;color: white;}
/*inputs comment*/
.container-comment-input{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container-comment-input-sumit-title{
width: 100%;
display: flex;
justify-content: space-between;
padding: 10px;
h4{
    color: white;
}
}
.container-comment-input{
    width: 65%;
    padding: 10px;
    border-radius: 10px;
}
.container-comment-input div{
    display: flex;
    margin-block: 10px;
    width: 100%;
    color: white;
    justify-content: space-between;
    align-items: center;
    button{
        color: black;
        padding: 7px;
        border-radius: 4px;
        border: none;
        outline: none;
        background-color:#ffe550 ;
        transition-duration: .5s;
    }
    button:hover{
        cursor: pointer;
        color: white;
        background-color: #ff5050;
    }
}
.commentForm{
    width: 100%;

}
#commentInput::placeholder{
    color: rgb(192, 192, 139);
}
#commentInput{
    width: 100%;
    height: 100px;
    padding: 15px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    outline: none;
    background-color: transparent;
    backdrop-filter: blur(2px);
    color: white;
    resize: none;
    transition: border-color 0.3s ease;
}
/*responsive*/
@media (max-width:767px){
    #commentInput{
        height: 70px;
    }

}
/*end*/
/*comments user*/
.comment-users{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.comment-users div{
display: flex;
flex-direction: column;
justify-content: center;
gap: 10px;
align-items: center;
}
.container-card{
    width: 70%;
    padding: 10px;
    background-color:white;
    border-radius: 10px;
}
.comment-users h3{
    background-color:rgb(255, 255, 255);
    padding: 6px;
    border-radius: 10px;
    color: black;
    margin-bottom: 10px;
    small{
        color: green;
    }
}
#card-header{
    width: 150px;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
#card-header div{
    h4{
        font-size: 15px;
        font-weight: bold;
    }
    p{
        font-size: 12px;
    }
}
.card-center{
    margin-top: 6px;
    width: 100%;
    p{
        width: 100%;
    }
}
#card-footer div i:hover {
    cursor: pointer;
    color: blue;
}
#card-footer{
    margin-top: 6px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
/*join user*/
#join-users{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.join-users-title-up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    padding: 10px;
    h2{
        color: white;
        font-weight: bold;
        font-size: 33px;
        margin-bottom: 22px;
        backdrop-filter: blur(1px);
        width: fit-content;
        border-radius: 20px;
        padding: 10px;
        box-shadow:0 1px 20px 3px wheat;

    }
    p{
       color: rgb(247, 202, 202);
       font-weight: bold;
       backdrop-filter: blur(20px);
       border-radius: 20px;
       padding: 4px;
    }
}
/*---foter*/
footer{
    background-color: rgba(0, 0, 0, 0.842);
    color: white;
    padding-top: 10px;
}
.footer-info-container{
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .f{
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-transform: capitalize;
        h2{
            text-transform: uppercase;
            font-size: 24px;
            color: orange;
            font-weight: bold;
        }
    }
    .best-sale{
        align-self: flex-start;
        h2{
            margin-bottom: 8px;
        }
    }
    .ifsm{
        display: none;
    }
    .Latest-cases{
        h2{
            margin-bottom: 8px;
         }
        .pay{
            display: flex;
            width: 200px;
            justify-content:space-around ;
            align-items: center;
            padding: 10px;
            margin-top: 10px;
        }
        img{
            width: 30px;
            transition: .5s;
        }
        .pay img:hover{
            transform: scale(1.2,1.2);
            cursor: pointer;
        }
    }
    .conact{
        align-self: self-start;
        p{
            margin-top: 8px;
        }
        div{
            margin-top: 6px;
            padding: 6px;
            width: 190px;
            display: flex;
            justify-content: space-around;
            i{
                font-size: 25px;
                border-radius: 20%;
                padding: 4px;
                transition-duration: .5s;
            }
            i:hover{
                cursor: pointer;
                color: #00384d;
                background-color: white;
            }
        }
    }
}
.Copyright-container{
    padding-bottom: 15px;
}
/*end */
/*responsive-footer*/
@media (max-width:767px){
    .footer-info-container{
        .f{
            width: 45%;
            h2{
                font-size: 15px;
            }
        }
    }
    .footer-info-container .best-sale{
        display: none;
    }
    .Copyright-container div{
     font-size: 11px;
    }
    .Latest-cases{
        .if2xl{
            display: none;
        }
        .ifsm{
            display: block;
        }
    }
}
/*end footer*/
/*animation when on scroll*/
.element{
    opacity: 0;
    transform:translateX(50px);
    transition: 0.6s ease-out;
}
.element.avil{
    opacity: 1;
    transition: 1s;
    transform: translateX(0);
}
